:host {
  max-height: 100%;
  overflow: auto;
  background-color: var(--ws-surface);
  color: var(--ws-text);
  scroll-behavior: smooth;

  .panel {
    position: sticky;
    top: 0px;
    background-color: var(--ws-surface);
    border-bottom: 2px solid var(--ws-border);
  }
  .col-index {
    padding: 0 4px;
    margin-right: 1rem;
    font-family: monospace;
  }

  .col-hex {
    font-family: monospace;
    padding: 0 4px;
    &:hover {
      background-color: var(--ws-hex-hover);
    }

    &:nth-child(8n+1) {
      padding-right: 1rem;
    }

  }

  .selected {
    background-color: var(--ws-primary);
    color: var(--ws-on-primary);
  }

  .col-char {
    font-family: monospace;
  }

}
